/* GLOBAL START */

*{    font-family: "Comfortaa", cursive;
    font-optical-sizing: auto;

}
html, h1,h2,h3,h4,h5,h6{
    color: #5c5b5b;
}
body{
    background: rgba(216, 224, 232, 0.72);
    margin: 0;
    padding: 0;
}

/* GLOBAL START------------------------------------------------------ */

/* HEADER START------------------------------------------------------ */

a {
    text-decoration: none;
    color: inherit;
}
header{
    background: rgba(0, 132, 132, 0.93);
    height: 70px;
}
header *{
    color: #fff;
}
header h1{
    margin-top: 13px;
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    display: inline-block;
    transition: transform 0.2s ease;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 22px;
}
a:hover {
    transform: scale(1.2);
}
header ul li i{
    padding: 10px;
}
header ul li ul{
    position: absolute ;
    top: 70px;
    display: none;
    width: 180px;
    z-index: 88888;
    border: 2px solid rgba(0, 132, 132, 0.93);
    border-radius: 5px;
    background-color: rgba(0, 132, 132, 0.93);
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
    margin-left: 22px;
}
header ul li ul li a{
    color: #fff !important;
}
.carousel-inner, .carousel-item, .carousel-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/* HEADER END--------------------------------------------- */

/* MAIN START--------------------------------------------- */

.main-content h2{
    margin: 30px 0;
}
div img{
    border-radius: 10px;
}

.main-content .post{
    margin-bottom: 2em;
}
.main-content .post{
margin-bottom: 3em;
}
.main-content .post_text{
    background: rgb(216, 224, 232);
    padding: 7px;
    border-radius: 10px;
}
.main-content .post_text h3{
    margin: 14px;
}

.main-content .post_text h3 a:hover{
text-decoration: underline;
    color: #5c5b5b;
}

.main-content .post_text i{
    margin: 0px 14px 14px 14px ;
}
.main-content .post_text p{
    margin: 0px 14px 14px 14px ;
}




















